<main>
    <nav class="d-flex align-items-center">
        <a ><img style="width: 60px;object-fit: cover;" src="../../assets//LOGO BELGA ROJO FONDO TRANSPARENTE.png" alt=""></a>
        <p class="text-name p-0" style="margin: 0px;margin-left: 10px;margin-top: 20px;">Marcos Sánchez</p>
    </nav>
    <section>
        <header class="section_header w-75">
            <a routerLink="/entrenador/alumnos" class="btn-add"><img src="../../assets/icons/arrow-left.svg"
                    alt="" /></a>
            <h4>{{titleModal}}</h4>
        </header>
        <div class="form_container">
            <form [formGroup]="alumnoFormGroup">

                <div class="row">
                    <div class="col-8 mb-3 mt-2">
                        <input type="text"  class="input_app"
                            formControlName="nombre_completo" placeholder="Nombre completo" />
                        <span class="text-error" *ngIf="!alumnoFormGroup.controls['nombre_completo'].valid && 
                        alumnoFormGroup.controls['nombre_completo']?.touched"> El nombre completo es obligatorio.</span>
                    </div>

                    <div class="col-4 mb-3 mt-2">
                        <input type="number"  formControlName="edad"  class="input_app"
                            placeholder="Edad" />
                            <span class="text-error" *ngIf="!alumnoFormGroup.controls['edad'].valid && 
                            alumnoFormGroup.controls['edad']?.touched"> La edad es obligatoria.</span>
                    </div>

                    <div class="col-12 mb-3 mt-2">
                        <label for="" class="mb-1">Fecha de ingreso</label>
                        <input type="date"  class="input_app"
                            formControlName="fecha_ingreso" />
                            <span class="text-error" *ngIf="!alumnoFormGroup.controls['fecha_ingreso'].valid && 
                            alumnoFormGroup.controls['fecha_ingreso']?.touched"> La fecha de ingreso es obligatoria.</span>
                    </div>

                    <div class="col-12 mb-3 mt-2">
                        <label for="" class="mb-1">Estatus del atleta</label>
                        <select formControlName="status" class="input_app">
                            <option selected value="">Selecciona</option>
                            <option value="Activo" >Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                        <span class="text-error" *ngIf="!alumnoFormGroup.controls['status'].valid && 
                        alumnoFormGroup.controls['status']?.touched"> El status es obligatorio.</span>
                    </div>
                    <div class="col-12 mb-3 mt-2">
                        <button [disabled]="alumnoFormGroup.invalid" type="button"
                            class="btn btn-success btn-customize w-100"
                            (click)="submit()"
                            >Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>