<main>
  <nav class="d-flex align-items-center">
    <a ><img style="width: 60px;object-fit: cover;" src="../../assets//LOGO BELGA ROJO FONDO TRANSPARENTE.png" alt=""></a>
    <p class="text-name p-0" style="margin: 0px;margin-left: 10px;margin-top: 20px;">Marcos Sánchez</p>
</nav>
  <section>
    <header class="section_header">
      <a routerLink="/entrenador" class="btn-add"
        ><img src="../../assets/icons/arrow-left.svg" alt=""
      /></a>
      <h4>{{titleModal}}</h4>
    </header>
    <div class="form_container">
      <form [formGroup]="entrenamientoFormGroup">
        <div class="mb-3">
          <input
            type="text"
            class="input_app"
            id="titulo_semana"
            formControlName="titulo_semana"
            placeholder="Titulo de la semana"

          />
          <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_semana'].valid && 
          entrenamientoFormGroup.controls['titulo_semana']?.touched"> Este campo es obligatorio.</span>
        </div>

        <div class="form-floating">
          <textarea
            class="input_app"
            *ngIf="!isEdit"
            placeholder="Objetivo de la semana"
            formControlName="objetivo_semana"
          ></textarea>
          <textarea
          formControlName="objetivo_semana"
            class="input_app"
            *ngIf="isEdit"
          ></textarea>
          <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['objetivo_semana'].valid && 
          entrenamientoFormGroup.controls['objetivo_semana']?.touched"> Este campo es obligatorio.</span>
        </div>

        <ul class="list-group mt-4">
          <p>Para:</p>
          <li (click)="addPara(alumno)" class="list-group-item" aria-current="true"
          [ngClass]="{'active': isAlumnoInParaList(alumno)}"
          *ngFor="let alumno of alumnos" >
            {{alumno.nombre_completo}} | <strong>Objetivo:</strong> {{ alumno.objetivo}}
          </li>
        
        </ul>

        <div class="lunes">
          <p class="d-inline-flex gap-1 mt-4 w-100">
            <button
              class="card card-body w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseLunes"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="day-dropdown">
                <strong> LUNES </strong>
                <img src="../../assets/icons/calendar (1).svg" alt="" />
              </div>
            </button>
          </p>
          <div class="collapse" id="collapseLunes">
            <div class="card card-body">
              <p class="text-body-secondary">Completa los siguientes datos:</p>
              <div class="form-floating">
                <select
                formControlName="tipo_lugar_lunes"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de lugar de entrenamiento"
                >
                  <option >Tipo de lugar de entrenamiento</option>
                  <option value="Entrenamiento en cinta" >Entrenamiento en cinta</option>
                  <option value="Entrenamiento en pista">Entrenamiento en pista</option>
                  <option value="Entrenamiento en terreno ondulado">Entrenamiento en terreno ondulado</option>
                  <option value="Entrenamiento en plano">Entrenamiento en plano</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_lugar_lunes'].valid && 
                entrenamientoFormGroup.controls['tipo_lugar_lunes']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="form-floating mt-2">
                <select
                formControlName="tipo_entrenamiento_lunes"
                  class="input_app"
                  id="floatingSelect"
                  place
                  aria-label="Tipo de entrenamiento"
                >
                  <option  class="input_placeholder">Tipo de entrenamiento</option>
                  <option value="Sesion regenerativa">Sesion regenerativa</option>
                  <option value="Sesion de velocidad">Sesion de velocidad</option>
                  <option value="Carrera larga">Carrera larga</option>
                  <option value="Chequeo Interno">Chequeo Interno</option>
                  <option value="Competencia">Competencia</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_entrenamiento_lunes'].valid && 
                entrenamientoFormGroup.controls['tipo_entrenamiento_lunes']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="mb-3 mt-2">
                <input
                formControlName="titulo_lunes"
                  type="text"
                  class="input_app"
                  id="titulo_lunes"
                  placeholder="Titulo del entrenamiento"
                />
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_lunes'].valid && 
                entrenamientoFormGroup.controls['titulo_lunes']?.touched"> Este campo es obligatorio.</span>
              </div>
              <div class="form-floating">
                <textarea
                formControlName="indicaciones_lunes"
                  class="input_app"
                  *ngIf="!isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <textarea
                formControlName="indicaciones_lunes"
                  class="input_app"
                  *ngIf="isEdit"
                ></textarea>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['indicaciones_lunes'].valid && 
                entrenamientoFormGroup.controls['indicaciones_lunes']?.touched"> Este campo es obligatorio.</span>
              </div>
              
              
            </div>
          </div>
        </div>

        <div class="martes">
          <p class="d-inline-flex gap-1 mt-2 w-100">
            <button
              class="card card-body w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMartes"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="day-dropdown">
                <strong> MARTES </strong>
                <img src="../../assets/icons/calendar (1).svg" alt="" />
              </div>
            </button>
          </p>
          <div class="collapse" id="collapseMartes">
            <div class="card card-body">
              <p class="text-body-secondary">Completa los siguientes datos:</p>
              <div class="form-floating">
                <select
                formControlName="tipo_lugar_martes"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona tipo de entrenamiento"
                >
                  <option >Tipo de lugar de entrenamiento</option>
                  <option value="Entrenamiento en cinta" >Entrenamiento en cinta</option>
                  <option value="Entrenamiento en pista">Entrenamiento en pista</option>
                  <option value="Entrenamiento en terreno ondulado">Entrenamiento en terreno ondulado</option>
                  <option value="Entrenamiento en plano">Entrenamiento en plano</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_lugar_martes'].valid && 
                entrenamientoFormGroup.controls['tipo_lugar_martes']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="form-floating mt-2">
                <select
                formControlName="tipo_entrenamiento_martes"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de entrenamiento"
                >
                  <option >Tipo de entrenamiento</option>
                  <option value="Sesion regenerativa">Sesion regenerativa</option>
                  <option value="Sesion de velocidad">Sesion de velocidad</option>
                  <option value="Carrera larga">Carrera larga</option>
                  <option value="Chequeo Interno">Chequeo Interno</option>
                  <option value="Competencia">Competencia</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_entrenamiento_martes'].valid && 
                entrenamientoFormGroup.controls['tipo_entrenamiento_martes']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="mb-3 mt-2">
                <input
                formControlName="titulo_martes"
                  type="text"
                  class="input_app"
                  id="titulo_lunes"
                  placeholder="Titulo del entrenamiento"
                />
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_martes'].valid && 
                entrenamientoFormGroup.controls['titulo_martes']?.touched"> Este campo es obligatorio.</span>
              </div>
              <div class="form-floating">
                <textarea
                  formControlName="indicaciones_martes"
                  class="input_app"
                  *ngIf="!isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <textarea
                  formControlName="indicaciones_martes"
                  class="input_app"
                  *ngIf="isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['indicaciones_martes'].valid && 
                entrenamientoFormGroup.controls['indicaciones_martes']?.touched"> Este campo es obligatorio.</span>
              </div>
              
            </div>
          </div>
        </div>

        <div class="miercoles">
          <p class="d-inline-flex gap-1 mt-2 w-100">
            <button
              class="card card-body w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMiercoles"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="day-dropdown">
                <strong> MIERCOLES </strong>
                <img src="../../assets/icons/calendar (1).svg" alt="" />
              </div>
            </button>
          </p>
          <div class="collapse" id="collapseMiercoles">
            <div class="card card-body">
              <p class="text-body-secondary">Completa los siguientes datos:</p>
              <div class="form-floating">
                <select
                formControlName="tipo_lugar_miercoles"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el "
                >
                  <option >Tipo de lugar de entrenamiento</option>
                  <option value="Entrenamiento en cinta" >Entrenamiento en cinta</option>
                  <option value="Entrenamiento en pista">Entrenamiento en pista</option>
                  <option value="Entrenamiento en terreno ondulado">Entrenamiento en terreno ondulado</option>
                  <option value="Entrenamiento en plano">Entrenamiento en plano</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_lugar_miercoles'].valid && 
                entrenamientoFormGroup.controls['tipo_lugar_miercoles']?.touched"> Este campo es obligatorio.</span>

              </div>

              <div class="form-floating mt-2">
                <select
                formControlName="tipo_entrenamiento_miercoles"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de lugar de entrenamiento"
                >
                  <option >Tipo de entrenamiento</option>
                  <option value="Sesion regenerativa">Sesion regenerativa</option>
                  <option value="Sesion de velocidad">Sesion de velocidad</option>
                  <option value="Carrera larga">Carrera larga</option>
                  <option value="Chequeo Interno">Chequeo Interno</option>
                  <option value="Competencia">Competencia</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_entrenamiento_miercoles'].valid && 
                entrenamientoFormGroup.controls['tipo_entrenamiento_miercoles']?.touched"> Este campo es obligatorio.</span>

              </div>

              <div class="mb-3 mt-2">
                <input
                formControlName="titulo_miercoles"
                  type="text"
                  class="input_app"
                  id="titulo_lunes"
                  placeholder="Titulo del entrenamiento"
                />
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_miercoles'].valid && 
                entrenamientoFormGroup.controls['titulo_miercoles']?.touched"> Este campo es obligatorio.</span>
              </div>
              <div class="form-floating">
                <textarea
                  formControlName="indicaciones_miercoles"
                  class="input_app"
                  *ngIf="!isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <textarea
                  formControlName="indicaciones_miercoles"
                  class="input_app"
                  *ngIf="isEdit"
                ></textarea>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['indicaciones_miercoles'].valid && 
                entrenamientoFormGroup.controls['indicaciones_miercoles']?.touched"> Este campo es obligatorio.</span>
              </div>
              
              
            </div>
          </div>
        </div>

        <div class="jueves">
          <p class="d-inline-flex gap-1 mt-2 w-100">
            <button
              class="card card-body w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseJueves"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="day-dropdown">
                <strong> JUEVES </strong>
                <img src="../../assets/icons/calendar (1).svg" alt="" />
              </div>
            </button>
          </p>
          <div class="collapse" id="collapseJueves">
            <div class="card card-body">
              <p class="text-body-secondary">Completa los siguientes datos:</p>
              <div class="form-floating">
                <select
                  formControlName="tipo_lugar_jueves"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de entrenamiento"
                >
                  <option >Tipo de lugar de entrenamiento</option>
                  <option value="Entrenamiento en cinta" >Entrenamiento en cinta</option>
                  <option value="Entrenamiento en pista">Entrenamiento en pista</option>
                  <option value="Entrenamiento en terreno ondulado">Entrenamiento en terreno ondulado</option>
                  <option value="Entrenamiento en plano">Entrenamiento en plano</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_lugar_jueves'].valid && 
                entrenamientoFormGroup.controls['tipo_lugar_jueves']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="form-floating mt-2">
                <select
                  formControlName="tipo_entrenamiento_jueves"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de lugar de entrenamiento"
                >
                  <option >Tipo de entrenamiento</option>
                  <option value="Sesion regenerativa">Sesion regenerativa</option>
                  <option value="Sesion de velocidad">Sesion de velocidad</option>
                  <option value="Carrera larga">Carrera larga</option>
                  <option value="Chequeo Interno">Chequeo Interno</option>
                  <option value="Competencia">Competencia</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_entrenamiento_jueves'].valid && 
                entrenamientoFormGroup.controls['tipo_entrenamiento_jueves']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="mb-3 mt-2">
                <input
                formControlName="titulo_jueves"
                  type="text"
                  class="input_app"
                  id="titulo_lunes"
                  *ngIf="!isEdit"
                  placeholder="Titulo del entrenamiento"
                />
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_jueves'].valid && 
                entrenamientoFormGroup.controls['titulo_jueves']?.touched"> Este campo es obligatorio.</span>
              </div>
              <div class="form-floating">
                <textarea
                  formControlName="indicaciones_jueves"
                  class="input_app"
                  *ngIf="!isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <textarea
                  formControlName="indicaciones_jueves"
                  class="input_app"
                  *ngIf="isEdit"
                ></textarea>
              </div>
              <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['indicaciones_jueves'].valid && 
                entrenamientoFormGroup.controls['indicaciones_jueves']?.touched"> Este campo es obligatorio.</span>
              
            </div>
          </div>
        </div>

        <div class="viernes">
          <p class="d-inline-flex gap-1 mt-2 w-100">
            <button
              class="card card-body w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseViernes"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="day-dropdown">
                <strong> VIERNES </strong>
                <img src="../../assets/icons/calendar (1).svg" alt="" />
              </div>
            </button>
          </p>
          <div class="collapse" id="collapseViernes">
            <div class="card card-body">
              <p class="text-body-secondary">Completa los siguientes datos:</p>
              <div class="form-floating">
                <select
                  formControlName="tipo_lugar_viernes"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el Tipo de entrenamiento"
                >
                  <option >Tipo de lugar de entrenamiento</option>
                  <option value="Entrenamiento en cinta" >Entrenamiento en cinta</option>
                  <option value="Entrenamiento en pista">Entrenamiento en pista</option>
                  <option value="Entrenamiento en terreno ondulado">Entrenamiento en terreno ondulado</option>
                  <option value="Entrenamiento en plano">Entrenamiento en plano</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_lugar_viernes'].valid && 
                entrenamientoFormGroup.controls['tipo_lugar_viernes']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="form-floating mt-2">
                <select
                  formControlName="tipo_entrenamiento_viernes"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de lugar de entrenamiento"
                >
                  <option >Tipo de entrenamiento</option>
                  <option value="Sesion regenerativa">Sesion regenerativa</option>
                  <option value="Sesion de velocidad">Sesion de velocidad</option>
                  <option value="Carrera larga">Carrera larga</option>
                  <option value="Chequeo Interno">Chequeo Interno</option>
                  <option value="Competencia">Competencia</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_entrenamiento_viernes'].valid && 
                entrenamientoFormGroup.controls['tipo_entrenamiento_viernes']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="mb-3 mt-2">
                <input
                formControlName="titulo_viernes"
                  type="text"
                  class="input_app"
                  placeholder="Titulo del entrenamiento"
                />
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_viernes'].valid && 
                entrenamientoFormGroup.controls['titulo_viernes']?.touched"> Este campo es obligatorio.</span>
              
              </div>
              <div class="form-floating">
                <textarea
                formControlName="indicaciones_viernes"
                  class="input_app"
                  *ngIf="!isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <textarea
                formControlName="indicaciones_viernes"
                  class="input_app"
                  *ngIf="isEdit"
                ></textarea>
              </div>
              <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['indicaciones_viernes'].valid && 
                entrenamientoFormGroup.controls['indicaciones_viernes']?.touched"> Este campo es obligatorio.</span>
              
            </div>
          </div>
        </div>

        <div class="domingo">
          <p class="d-inline-flex gap-1 mt-2 w-100">
            <button
              class="card card-body w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseDomingo"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="day-dropdown">
                <strong> DOMINGO </strong>
                <img src="../../assets/icons/calendar (1).svg" alt="" />
              </div>
            </button>
          </p>
          <div class="collapse" id="collapseDomingo">
            <div class="card card-body">
              <p class="text-body-secondary">Completa los siguientes datos:</p>
              <div class="form-floating">
                <select
                formControlName="tipo_lugar_domingo"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de entrenamiento"
                >
                  <option >Tipo de lugar de entrenamiento</option>
                  <option value="Entrenamiento en cinta" >Entrenamiento en cinta</option>
                  <option value="Entrenamiento en pista">Entrenamiento en pista</option>
                  <option value="Entrenamiento en terreno ondulado">Entrenamiento en terreno ondulado</option>
                  <option value="Entrenamiento en plano">Entrenamiento en plano</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_lugar_domingo'].valid && 
                entrenamientoFormGroup.controls['tipo_lugar_domingo']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="form-floating mt-2">
                <select
                formControlName="tipo_entrenamiento_domingo"
                  class="input_app"
                  id="floatingSelect"
                  aria-label="Selecciona el tipo de lugar de entrenamiento"
                >
                  <option >Tipo de entrenamiento</option>
                  <option value="Sesion regenerativa">Sesion regenerativa</option>
                  <option value="Sesion de velocidad">Sesion de velocidad</option>
                  <option value="Carrera larga">Carrera larga</option>
                  <option value="Chequeo Interno">Chequeo Interno</option>
                  <option value="Competencia">Competencia</option>
                </select>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['tipo_entrenamiento_domingo'].valid && 
                entrenamientoFormGroup.controls['tipo_entrenamiento_domingo']?.touched"> Este campo es obligatorio.</span>
              </div>

              <div class="mb-3 mt-2">
                <input
                formControlName="titulo_domingo"
                  type="text"
                  class="input_app"
                  placeholder="Titulo del entrenamiento"
                />
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['titulo_domingo'].valid && 
                entrenamientoFormGroup.controls['titulo_domingo']?.touched"> Este campo es obligatorio.</span>
              </div>
              <div class="form-floating">
                <textarea
                  formControlName="indicaciones_domingo"
                  class="input_app"
                  *ngIf="!isEdit"
                  placeholder="Indicaciones del entrenamiento"
                ></textarea>
                <textarea
                  formControlName="indicaciones_domingo"
                  class="input_app"
                  *ngIf="isEdit"
                ></textarea>
                <span class="text-error" *ngIf="!entrenamientoFormGroup.controls['indicaciones_domingo'].valid && 
                entrenamientoFormGroup.controls['indicaciones_domingo']?.touched"> Este campo es obligatorio.</span>
              </div>
            </div>
          </div>
        </div>

        <button (click)="submit()" [disabled]="entrenamientoFormGroup.invalid" type="button" class="btn btn-success btn-customize w-100">Guardar</button>
      </form>
    </div>
  </section>
</main>
