main {
  width: 100vw;
  height: 100vh;

  nav {
    padding: 20px;
    background-color: #c70039;
    color: white;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .section_header {
    margin-top: 70px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
    align-content: flex-end;
    padding-bottom: 0;
  }

  section {
    display: flex;
    flex-direction: column;

    width: 100%;

    h4 {
      font-size: 18px;
      margin: 10px;
      border-bottom: 2.5px solid #c70039;
    }

    .btn-add {
      background-color: #c70039;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
  }

  .entrenamientos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-top: 20px;

    .entrenamiento {
      border-radius: 8px;
      padding: 20px;
      background-color: #f04a4c;
      color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .entrenamiento h3 {
      margin: 0;
      font-size: 14px;
      font-weight: 700;
    }

    .entrenamiento p {
      margin: 0;

    }

    .entrenamiento_header {
      margin-top: 10px;
      font-size: 13px;
    }
  }
}