<main>
    <nav>
        <h2>Belga Elite CLUB</h2>
    </nav>
    <section>
        <header class="section_header">
            <h4>Entrenamientos Planificados</h4>
        <a routerLink="/entrenador/nuevo" class="btn-add"><img src="../../assets/icons/plus.svg" alt=""></a>
        <a routerLink="/entrenador/alumnos" class="btn-add"><img src="../../assets/icons/users.svg" alt=""></a>
        </header>
        <div class="entrenamientos">
            <div class="entrenamiento" *ngFor="let item of entrenamientos">
                <h3>{{item.title}}</h3>
                <div class="entrenamiento_header">
                    <p class="title_entrenamiento">Para:</p>
                    <p *ngFor="let alumno of item.para">{{alumno.nombre}}</p>
                </div>
                <div class="entrenamiento_header">
                    <p class="title_entrenamiento">Objetivo de la semana:</p>
                    <p>{{item.objetivo}}</p>
                </div>
                <img class="icon_shared" src="../../assets/icons/share-2.svg" alt="">
                <img class="icon_shared" (click)="openEdit('21212')" src="../../assets/icons/edit.svg" alt="">
                <img class="icon_shared" src="../../assets/icons/trash-2.svg" alt="" data-bs-toggle="modal" data-bs-target="#DeleteModal">
            </div>
        </div>
    </section>
</main>

  <!-- Modal -->
  <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="DeleteModal">¿Seguro que quieres eliminar?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Al eliminar este entrenamiento, los alumnos que estaban asignados no podrán volver a verlo.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger">Si, elimínalo</button>
        </div>
      </div>
    </div>
  </div>