<main>
    <nav class="d-flex align-items-center">
        <a ><img style="width: 60px;object-fit: cover;" src="../../assets//LOGO BELGA ROJO FONDO TRANSPARENTE.png" alt=""></a>
        <p class="text-name p-0" style="margin: 0px;margin-left: 10px;margin-top: 20px;">Marcos Sánchez</p>
    </nav>
    <section>
        <header class="section_header">
            <h4>Entrenamientos Planificados</h4>
        <a routerLink="/entrenador/nuevo" class="btn-add"><img src="../../assets/icons/plus.svg" alt=""></a>
        <a routerLink="/entrenador/alumnos" class="btn-add"><img src="../../assets/icons/users.svg" alt=""></a>
        </header>
        <div class="entrenamientos">
          <h3 *ngIf="entrenamientosList.length === 0" >No tienes entrenamientos creados, para crear uno, pulsa el boton de "+".</h3>
            <div class="entrenamiento" *ngFor="let item of entrenamientosList">
                <h3>{{item.titulo_semana}}</h3>
                <div class="entrenamiento_header">
                    <p class="title_entrenamiento">Para:</p>
                    <p *ngFor="let alumno of item.para">{{alumno.nombre_completo}}</p>
                </div>
                <div class="entrenamiento_header">
                    <p class="title_entrenamiento">Objetivo de la semana:</p>
                    <p>{{item.objetivo_semana}}</p>
                </div>
                <img class="icon_shared" (click)="openSendDialog(item)" src="../../assets/icons/share-2.svg" alt="">
                <img class="icon_shared" (click)="openEdit(item)" src="../../assets/icons/edit.svg" alt="">
                <img class="icon_shared" src="../../assets/icons/trash-2.svg" alt="" (click)="deleteEntrenamiento(item.id)">
            </div>
        </div>
    </section>
</main>